body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: cyan;
    margin: 0;
    padding: 0;
}
.form-container {
    width: 600px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s;
    margin-top: 20px;
}
.form-container h1 {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.form-container form {
    margin-top: 20px;
}
.form-label {
    margin-bottom: 5px;
}
.form-control {
    margin-bottom: 20px;
}
.container-switch {
    display: flex;
    justify-content: center;
}
.switch {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.switch.active:after {
    left: 82px;
    width: 70px;
}

.switch:after {
    content: '';
    height: 0;
    width: 0;
    background: none;
    position: absolute;
    bottom: 0;
    left: 8px;
    transition: left 0.3s ease, width 0.3s ease;
}


.admin {
    padding: 5px 12px;
    margin-bottom: 10px;
    border-radius: 50px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease;
    background: cyan;
    margin-right: 4px;
}
.user {
    padding: 5px 12px;
    margin-bottom: 10px;
    border-radius: 50px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease;
    text-align: right;
    margin-left: 4px;
}
.btn-submit {
    margin-top: 20px;
    width: 30%;
    align-content: center;
}

.container-switch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    margin-bottom: 5px;
    text-align: center;
}

.sign-in {
    display: inline;
}



@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}